<div class="container home">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="container" id="index-page">
        <div class="thumbnail" >
          <%= image_tag found.found_img.medium.url, class:"img-responsive img-rounded" %>
          <div class="caption">
            <h3 class="bg-default" style="text-align: center;"><%= found.title %></h3>
            <p class="bg-success"><strong>Category:</strong> <%= found.category.try(:name) %></p>
            <p class="bg-info"><strong>Date:</strong> <%= found.found_date %></p>
            <p class="bg-warning"><strong>Location:</strong> <%= found.location %></p>
            <p class="bg-danger"><strong>Description:</strong> <%= "#{found.description[0...20]}........"  %></p>
            <p class="bg-default"><strong>Contact info:</strong> <%= found.contact_info %></p>
          </div>
          <div class="thumbnail" style="border:none;">
            <%= link_to 'Show', found, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_found_path(found), class: 'btn btn-info' if can? :manage, Found %>
            <%= link_to 'Destroy', found_path(found), method: :delete, data:{ confirm: 'Delete the Found Ad. Are you sure?'}, class: 'btn btn-danger' if can? :delete, Found %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>