<div class="container home">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="container" id="index-page">
        <!-- <div class="thumbnail"> -->
          <div class="form-group">
            <%= simple_form_for(@lost, defaults: { input_html: { class: 'form-horizontal'}}) do |f| %>
            <%= f.error_notification  %>
            <%= f.input :lost_img, label: 'Image', class: 'form-control'  %>
            <%= f.association :category, as: :radio_buttons , hint: 'Please select an catagory' %>
            <%= f.input :title, label: 'Title', placeholder: 'Title is mandatory, please specify one', error: 'Title is mandatory, please specify one'  , class: 'form-control'%>
            <%= f.input :lost_date, label: 'Found Date', class: 'form-control'  %>
            <%= f.input :location, label: 'Location', placeholder:'Try to be specific as much as possible', class: 'form-control'  %>
            <%= f.input :description, label: 'Description', placeholder: 'The more information you provide, the more chance you have to reach others ---' , class: 'form-control' %>

            <%= f.input :name, label: 'Contact Info:Name', placeholder: 'Please provide your name.', class: 'form-control'  %>
            <%= f.input :email, label: 'Contact Info:Email', placeholder: 'Please provide email address, if possible.', class: 'form-control'  %>
            <%= f.input :phone, label: 'Contact Info:Phone', placeholder: 'Please provide telephone number, if possible.', class: 'form-control'  %>


            <%= f.input :reward, label: 'Reward', placeholder: 'Any reward you are offering?', class: 'form-control' %>
            <%= f.error :base, class: 'form-control' %>
            <%= f.button :submit, "Submit", class: 'btn btn-success'  %>
            <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>