<div class="container home">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="container" id="index-page">
        <div class="thumbnail" >
          <%= image_tag @lost.lost_img.medium.url, class:"img-responsive img-rounded" %>
          <div class="caption">
            <h3 class="bg-default" style="text-align: center;"><%= @lost.title %></h3>
            <li class="list-group-item list-group-item-info"><strong>Category:</strong> <%= @lost.category.try(:name) %></li>
            <li class="list-group-item list-group-item-info"><strong>Date:</strong> <%= @lost.lost_date %></li>
            <li class="list-group-item list-group-item-info"><strong>Location:</strong> <%= @lost.location %></li>
            <li class="list-group-item list-group-item-info"><strong>Description:</strong> <%= @lost.description %></li>
            <li class="list-group-item list-group-item-info"><strong>Reward:</strong> <%= @lost.reward %></li>
            <li><strong>Contact info:</strong></li>
            <li class="list-group-item list-group-item-info"><strong>Name:</strong> <%= @lost.name %></li>
            <li class="list-group-item list-group-item-info"><strong>Email:</strong> <%= @lost.email %></li>
            <li class="list-group-item list-group-item-info"><strong>Phone:</strong> <%= @lost.phone %></li>
            <li class="list-group-item list-group-item-info"><strong>Submitted by: </strong>
                    <%= @lost.user.try(:username) %> on <%= (@lost.created_at).strftime("%d %B %Y") %></li>
            
            <%= render 'comments/comments' %>
            <%= render 'comments/form' %>
          </div>
          <div id="map-container" style="margin-left: 15px;">
            <div id="map-canvas" data-lostlocation-data="<%= @lost.location  %>" >

            </div>
          </div>
        </div>
        <div class="thumbnail" style="border:none;">
          <% if @lost.user_id != nil %>
            <%= link_to 'Send message', new_message_path(to: User.find_by_id(id = @lost.user_id).id), class: 'btn btn-primary' %>

            <% if current_user == User.find_by_id(id = @lost.user_id).id %>
            <%= link_to 'Edit', edit_lost_path(@lost), class: 'btn btn-info' if can? :update, Lost %>
            <% end %>
          <% end %>

          <%= link_to 'Back', losts_path, class: 'btn btn-lg btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>

