<div class="container home">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="container" id="index-page">
        <div class="thumbnail" >
          <%= image_tag @lost.lost_img.medium.url, class:"img-responsive img-rounded" %>
          <div class="caption">
            <h3 class="bg-default" style="text-align: center;"><%= @lost.title %></h3>
            <li class="list-group-item list-group-item-info"><strong>Category:</strong> <%= @lost.category.try(:name) %></li>
            <li class="list-group-item list-group-item-info"><strong>Date:</strong> <%= @lost.lost_date %></li>
            <li class="list-group-item list-group-item-info"><strong>Location:</strong> <%= @lost.location %></li>
            <li class="list-group-item list-group-item-info"><strong>Description:</strong> <%= @lost.description %></li>
            <li class="list-group-item list-group-item-info"><strong>Contact info:</strong> <%= @lost.contact_info %></li>
            <li class="list-group-item list-group-item-info"><strong>Submitted by: </strong>
                    <%= @lost.user.try(:username) %> on <%= (@lost.created_at).strftime("%d %B %Y") %></li>
            <li class="list-group-item list-group-item-info"><strong>Reward:</strong> <%= @lost.reward %></li>
            <%= render 'comments/comments' %>
            <%= render 'comments/form' %>
          </div>
          <div class="thumbnail" style="border:none;">
            <%= link_to 'Edit', edit_lost_path(@lost), class: 'btn btn-info' if can? :update, Lost %>
            <%= link_to 'Back', losts_path, class: 'btn btn-info' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>